# Add any directories, files, or patterns you don't want to be tracked by version control
src/Templates/templates_c/
logs/
vendor/
public/resource/jquery
public/resource/fontawesome
public/resource/bootstrap